# 演習問題

## はじめに

### 開始前に行うこと（重要）

まず，Chrome 等のブラウザを利用して，本教材の URL にアクセスし，画面の指示に従い Google アカウントにログインしてください．その後，ブラウザ表示画面左上の「ファイル」をクリックし，さらにポップアップで出てくる項目から「ドライブにコピーを保存」をクリックしてください．これにより，本教材のコピーが自分のGoogleドライブに保存され，自分で書いたプログラムを実行できるようになります．

また，多くのセルが非表示になっていると思われるため，同じくブラウザ表示画面上の「表示」をクリックし，さらにその項目から「セクションを展開」をクリックし，非表示のセルを表示させてください．

```{hint}
各ページの上部にロケットのアイコン <i class="fa fa-rocket" aria-hidden="true"></i> があるのでこれをクリックして各ページのファイルを Google Colaboratory 上で開いて利用してください．
```

### ライブラリのインポート

利用するライブラリをまとめてインポートしておきましょう．

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()
from sklearn.linear_model import LinearRegression

### 例題と解答例

以下のような問題が出ますので，問題を解決するためのコードを生成してください．

5人の数学のテストの点数は72, 65, 60, 81, 78だった．この時，5人の平均点，標準偏差，中央値を求めよ．

In [ ]:
score_math = np.array([72, 65, 60, 81, 78])
print("Average:", np.mean(score_math))
print("SD:", np.std(score_math))
print("Median:", np.median(score_math))

## 問題

### 繰り返し処理

1から100までの整数を1行に1個の値が存在するように出力してください．

### ライブラリの利用

$log_2{10}$ を小数点以下5桁の小数で表示してください．

### 平均値

5人の英語のテストの点数は28, 96, 40, 70, 52でした．このとき，5人の平均点を小数点以下1桁の値で出力してください．

### 標準偏差

5人の英語のテストの点数は28, 96, 40, 70, 52でした．このとき，5人の標準偏差を小数点以下1桁の値で出力してください．

### 欠損値を含むデータ

5人の地理のテストの点数は79, n/a, 85, 95, n/aでした（2名は未受験）．このとき，受験者の最高点を求めてください．

### データフレームの生成

以下のようにすると iris というデータセットを `iris_dataset` に読み込むことができます．

In [ ]:
from sklearn.datasets import load_iris
iris_dataset = load_iris()

このデータを列名が `feature_names` となるようにデータフレームに変換して，そのデータフレームを出力してください．

### 統計量の計算

特徴量のうちで「sepal length (cm)」の平均値を pandas のメソッドを使って計算し，その値のみを出力してください．

### 相関係数の計算

各特徴量の相関係数を pandas のメソッドを使って計算し，その表（データフレーム）を出力してください．

### 線形回帰係数の同定

特徴量「petal length (cm)」の値をそれ以外の特徴量のどれかひとつを利用し，線形回帰直線にて近似したいとき，上の相関係数の値から，どの特徴量を利用するのが最も良いでしょうか．そして，その特徴量を説明変数として線形回帰をしたときの，線形回帰係数の値を小数点以下3桁までの値で出力してください．

### 線形回帰による値の予測

構築した線形回帰法によるモデルの入力値（説明変数値）が 0.23 であったとき，「petal length (cm)」の予測値を，小数点以下3桁までの値で出力してください．

```{note}
終わりです．
```